body {
	font-family: sans-serif;
	background:
	linear-gradient(135deg, #ECEDDC 25%, transparent 25%) -50px 0,
	linear-gradient(225deg, #ECEDDC 25%, transparent 25%) -50px 0,
	linear-gradient(315deg, #ECEDDC 25%, transparent 25%),
	linear-gradient(45deg, #ECEDDC 25%, transparent 25%);
	background-size: 100px 100px;
	background-color: #EC173A;

}

h1 {
	text-align: center;
	font-size: 100px;
	color: gold;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

h2 {
	text-align: center;
	font-size: 100px;
	background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
	-webkit-background-clip: text;
        color: transparent;
	
}
